@import "abstract/functions";
@import "abstract/mixins";
@import "abstract/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";


@import "components/jumbotron";
@import "components/navbar";
@import "layout/_header";
@import "pages/home";


.hidden {
    &-left{
        opacity: 0;
    }
    &-right{
        opacity: 0;
    }
}

.bottom-right{
    text-align: right;
    margin-top: -17vh;
    margin-right:10px;   
}

#email {
    text-decoration: none;
}
.thumb{
    &-150{
        height:auto;
        width:150px;
        @include response(phone) {
            width:75px;
        }
    }
    &-100{
        height:auto;
        width:100px;
        @include response(phone) {
            width:50px;
        }        
    }
    &-75{
        height:auto;
        width:75px;       
    } 
    &-50{
        height:auto;
        width:50px;
       
    }    
}

.pics {
    margin:20px;
}

.flex-direction {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include response(phone) {
        flex-direction: col;       
    }
}



