@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/jumbotron";
@import "components/navbar";
@import "layout/_header";


.hidden {
    &-left{
        opacity: 0;
    }
    &-right{
        opacity: 0;
    }
}

.bottom-right{
    position: absolute;
    bottom: 5px;
    right:10px;
}



#email {
    text-decoration: none;
}
#whatWeDo {
    height:70vh;
    padding:20px;
}
#in-building-services img {
    height:75px;
    width:auto;
}



.thumb{
    &-150{
        height:auto;
        width:150px;
    }
    &-100{
        height:auto;
        width:100px;
    }
}

.pics {
    margin-top:20px;
    margin-bottom: 20px;
}

.projects {
    &  .row {
        margin-bottom: 5%;
    }
    p-5 {
        padding-top:5%;
    }
}

.clients{
    margin-top: 100px;
    
    & .das-head-end-image{
        background: url('../img/das-head-end-project.jpg');
        background-color: #cccccc; /* Used if the image is unavailable */
        background-size: contain;
        background-repeat: no-repeat; /* Do not repeat the image */  
    }
    &  .clients-side-image{
        background: url('../img/clients.jpg');
        background-color: #cccccc; /* Used if the image is unavailable */
        background-repeat: no-repeat; /* Do not repeat the image */
        color:$color-off-white;     
    }
}s

#certifications {
    padding:5%;
}
#contactWMS i {
    font-size: medium;
}

#down-arrow {
    display:block;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari prior 9.0 */
    transform: rotate(90deg); /* Standard syntax */
}

