

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
$color-primary:#0d47a1;
$color-off-white: #fafafa;
$color-info:#42B3F4;
$color-black: #000000;
$color-white: #FFFFFF;

   *{
    margin: 0px;

    padding: 0px;
    box-sizing: border-box;
}
body {
    padding-top:30px;
}
html {
    scroll-behavior: smooth;
  }
.jumbotron {
    background-image: linear-gradient(to right, rgba($color-primary, 0.75), rgba($color-info, 0.05)) , url('../img/jumbotron.jpg');
    background-color: $color-off-white; /* Used if the image is unavailable */
    min-height: 95vh;/* You must set a specified height */
    background-position: top right; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    background-attachment: fixed;
    color:$color-off-white;   
    clip-path: polygon(0 0, 0 100%, 100% 90vh, 100% 0);
}
.jumbotron.row {
    height: 100%;
    display: table-row;
}
#jumbtron_button{
    padding:10px 20px;
    border-radius: 20px;
    text-transform: uppercase;
    display: inline-block;
    background-color: $color-primary;
    position: relative;
    color: $color-off-white;
    transition: all .2s;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

#jumbtron_button:hover {
    border-color:$color-off-white;
    background-color: lighten($color-primary, 15%);
    color:$color-white;
    transform: translateY(-3px);
    box-shadow: 0px 10px 20px rgba($color-black,.5);
}

#heading {
    animation: moveInLeft 2s;
    animation-timing-function: ease-in-out;
}
#heading_sub{
    padding-top: 5%;
    padding-bottom: 15%;
    font-size: 3em;
    font-weight: 200;
    color:$color-off-white;
    animation: moveInRight 2s;
    animation-timing-function: ease-in-out;
}
.hidden-left {
    opacity: 0;
}
.hidden-right {
    opacity: 0;
}

.bottom-right{
    position: absolute;
    bottom: 5px;
    right:10px;
}
.display-5{
    font-size: 3em;
    font-weight: 300;
}
.display-6{
    font-size: 2em;
    font-weight: 300;
}
#navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    display: block;
    transition: top 0.3s;
    padding-left: 5%;
    padding-right:5%;
}
.bg-offwhite {
    background-color: $color-off-white;
}
.bg-dark-fade{
    background-color: rgba($color-black, 0.5)
}
.bg-fixed{
    background-attachment: fixed;
}
.text-shadow-black {
    text-shadow: 3px 3px 3px $color-black;
}
.text-shadow-black-inverse {
    text-shadow: 3px -3px 3px $color-black;
}
#email {
    text-decoration: none;
}
#whatWeDo {
    height:70vh;
    padding:20px;
}
#in-building-services img {
    height:75px;
    width:auto;
}

.vh-75{
    height:75vh;
}
.thumb-150{
    height:auto;
    width:150px;
}
.thumb-100{
    height:auto;
    width:100px;
}
.pics {
    margin-top:20px;
    margin-bottom: 20px;
}


.projects .row {
    margin-bottom: 5%;
}
.projects p-5 {
    padding-top:5%;
}
.clients{
    margin-top: 100px;
}

.clients .das-head-end-image{
    background: url('../img/das-head-end-project.jpg');
    background-color: #cccccc; /* Used if the image is unavailable */
    background-size: contain;
    background-repeat: no-repeat; /* Do not repeat the image */  
}
.clients .clients-side-image{
    background: url('../img/clients.jpg');
    background-color: #cccccc; /* Used if the image is unavailable */
    background-repeat: no-repeat; /* Do not repeat the image */
    color:$color-off-white;     
}

#certifications {
    padding:5%;
}
#contactWMS i {
    font-size: medium;
  }
#down-arrow {
    display:block;
    -webkit-transform: rotate(90deg); 
    -moz-transform: rotate(90deg); 
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); //For IE support
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-180px)
    }

    50%{
        opacity: .5;
    }
    80%{
        opacity: .8;
        transform: translateX(5px)
    }    
    100%{
        opacity: 1;
        transform: translateX(0)
    }
}
.moveInLeftElement {
    animation: moveInLeft 2s;
    animation-timing-function: ease-in-out;
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px)
    }

    50%{
        opacity: .5;
    }
    80%{
        opacity: .8;
        transform: translateX(-5px)
    }
    100%{
        opacity: 1;
        transform: translateX(0)
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50%{
        opacity: 0;
    }
    85%{
        opacity: .85;
    }
    100%{
        opacity: 1;
    }
}

